{% extends 'store/navbar.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="box-element" id="form-wrapper">
                    <form action="" id="form">
                        <div id="user-info">
                            <div class="form-field">
                                <input type="text" required class="form-control" name="name" placeholder="Name..">
                            </div>
                            <div class="form-field">
                                <input type="text" required class="form-control" name="email" placeholder="Email..">
                            </div>
                        </div>
    
                        <div id="shipping-info">
                            <hr>
                            <p>Shipping Information:</p>
                            <hr>
                            <div class="form-field">
                                <input type="text"  class="form-control" name="address" placeholder="Address..">
                            </div>
                            <div class="form-field">
                                <input type="text"  class="form-control" name="city" placeholder="City..">
                            </div>
                            <div class="form-field">
                                <input type="text"  class="form-control" name="state" placeholder="State..">
                            </div>
                            <div class="form-field">
                                <input type="text"  class="form-control" name="zipcode" placeholder="Zip Code..">
                            </div>
                            <div class="form-field">
                                <input type="text"  class="form-control" name="country" placeholder="Country..">
                            </div>
    
                        </div>
                        <hr>
                        <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                    </form>
                </div>
                <br>

                <div class="box-element hidden" id="payment-info">
                    <small>Paypal Options</small>

                </div>
            </div>
    
            <div class="col-lg-6">
                <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'cart' %}"> &#x2190; Back to Cart </a>
                    <hr>
                        <h3>Order Summary:</h3>
                    <hr>

                    {% for item in items %}
                    <div class="cart-row">
                        <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}" alt=""></div>
                        <div style="flex:2"> {{item.product.name}} </div>
                        <div style="flex:1"> ${{item.product.price}} </div>
                        <div style="flex:1"> {{item.quantity}} </div>
                    </div>
                    {% endfor %}

                    <h5>Items: {{order.get_cart_items}}</h5>
                    <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
    
                </div>
            </div>
        </div>

    </div>

{% endblock %}